.container-avatar {
  display: flex;
  justify-content: center;
  height: 200px;
}
.avatar {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  max-width: 10vw;
  max-height: 10vw;
  cursor: pointer;
  transition: margin-bottom 0.3s;
}
.avatar:hover {
  margin-bottom: 20px;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
