.player-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#myCanvas{
  border: 1px solid black;
}
#container {
  position: relative;
  margin: 5vh auto;
  width: 500px;
  height: 500px;   
}
.pixel {
  border: 1px solid black;
  width:100px;
  height:100px;
}

.row {
  display: flex;
  flex-direction: row;
}
