.salas-container {
  display: block;
}

.container-avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;
}
.avatar {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  max-width: 10vw;
  max-height: 10vw;
  cursor: grab;
}
.noGames-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
h2 {
  text-align: center;
}
.waitPlayer-container {
  display: none;
  justify-content: center;
}
.tooMuchPlayers-container {
  display: none;
  text-align: center;
  flex-direction: column;
}
.game {
  border-radius: 34px;
  background: #bbe0cb;
  box-shadow: 21px 21px 42px #a6c7b5, -21px -21px 42px #d0f9e1;
  padding: 20px;
}
.games-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 50px;
}
@media (max-width: 800px) {
  .game {
    width: 20vw;
    height: 20vw;
  }
}

.game-container {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.players-container {
  display: flex;
  justify-content: space-around;
}

.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 190px;
  height: 254px;
  border-radius: 15px;
  box-shadow: 1px 5px 60px 0px #100a886b;
}

.player-container .player-border-top {
  width: 60%;
  height: 3%;
  background: #212529;
  border-radius: 0px 0px 15px 15px;
}

.board-container {
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  padding: 18px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  background: #24292d14;
}

.cell {
  width: 80px;
  height: 60px;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 2px solid #e8e8e8;
}

.player-avatar {
  height: 80px;
  border-radius: 15px;
  margin-top: 25px;
}

.player-container span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 20px;
}

.player-container .player-score {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 20px;
}
