
html {
  margin-top:10%;
  background-color: #dee2e6;
}
h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.container-avatar {
    display:flex;
    justify-content: center;
    height: 200px;
    padding: 10px;
  }
  .avatar {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    max-width: 10vw;
    max-height: 10vw;
    cursor: grab;
  }
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  } 
  h2 {
    text-align: center;
  }
  .game {
    width: 10vw;
    height: 10vw;
    border: 5px dashed black;
    margin: 15px 20px;
  }
  @media (max-width: 800px) {
    .game {
      width: 20vw;
      height: 20vw;
    }
  }